/* Main Layout */
body {
  padding-top: 85px;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
}

h1, .h1 {
  font-weight: 800;
  font-size: 36px;
}

h2, .h2 {
  font-weight: 700;
  font-size: 26px;
}

h3, .h3 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

h4, .h4 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

h5, .h5 {
  font-weight: 500;
  font-size: 24px;
}

h6, .h6 {
  font-weight: 500;
  font-size: 16px;
}

/* Blazor error ui */
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/* Nav */
.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.nav-link.btn-link {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
}

.nav-item, .nav-link {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFF;
  margin-left: 20px;
}

/* Nav: sidebar */
.sidebar {
  width: 240px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.list-group-item.active {
  color: #C87D52;
}

#page-content-wrapper {
  width: calc(100vw - 260px);
  padding-top: 25px;
}

/* Employee-card */
.employee-card {
  border: none;
  background-color: #FFF !important;
}

.employee-link {
  text-decoration: none;
}

.employee-img {
  max-width: 200px;
}

/* Employee-quick-view */
.close {
  border: none;
  background-color: #FFF;
}

/* Employee detail */
.employee-map {
  width: 350px;
  height: 500px;
  flex-shrink: 0;
}

.employee-detail, .employee-edit {
  padding: 15px;
  background-color: #FFF !important;
}
