@page "/admin/home"
@layout AdminDashboardLayout


<PageTitle>Admin</PageTitle>

<section class="card p-4 my-4">
    <h3>Admin Dashboard Home</h3>
    <p>Welcome to the Admin Dashboard Home Page.</p>
</section>

<section class="card p-4 my-4">
    <h3>Inventory</h3>
    <p>Quick Inventory Overview</p>
</section>

<section class="card p-4 my-4">
    <h3>Orders</h3>
    <p>Overview of latest Orders</p>
</section>