<nav class="navbar navbar-expand-lg shadow-lg px-3" style="background-color: #e47e71;">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/bday-connect-logo.png" alt="Birthday Market" style="height: 81px;" />
        </a>

        <!-- Hamburger Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <hr />
            <ul class="navbar-nav">

                <!-- TODO: Fix dropdown functionality -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ways to Give</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                        <li><a class="dropdown-item" href="#">A third link</a></li>
                    </ul>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/about">About</NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/news">News</NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/contact">Contact Us</NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/volunteer">Volunteer</NavLink>
                </li>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/shop/start">Birthday Market</NavLink>
                </li>

            </ul>
        </div>
    </div>
</nav>
