@page "/Shop/Start"

<PageTitle>Shop - Start</PageTitle>

<h1>Welcome to the Shop!</h1>
<p>If you would like to shop at no cost for birthday gifts for your children, </p>
<p>please contact your case manager or school counselor.</p>


<!-- TODO: Add family login and functionality -->
<div class="card" style="width: 50%; margin: auto;">
    <div class="card-body">
        <h5 class="card-title">Family Login</h5>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>