@page "/shop/start"

@inject NavigationManager NavigationManager

<PageTitle>Shop - Start</PageTitle>

<img src="images/bday-dog.png" alt="Birthday Cake" style="display: block; margin-left: auto; margin-right: auto; width: 300px;" />

<h1>Ready to Shop?</h1>

<p>Welcome to the Digital Marketplace where you choose birthday gifts for your children! </p>

<p>This includes Gifts, Activities, Birthday Cards, Sweet Treats, and more. </p>

<button class="btn btn-outline-danger" @onclick="OnStartShop">Get Started</button>

@code {

    private void OnStartShop()
    {
        NavigationManager.NavigateTo("/shop/login");
    }

}
