@page "/birthdaymarket"

<PageTitle>Birthday Market</PageTitle>

<style>
    section {
        min-height: 100vh;
        background: #B0DEDB;
        background: radial-gradient(circle, rgba(176, 222, 219, 1) 0%, rgba(176, 202, 222, 1) 100%);

        @* background-color: #DEB0B3; *@
    }
</style>

<section>
    <div class="d-flex text-center">
        <div class="my-5 align-self-center w-100 py-5">
            <div>
                <img src="/images/dogo.png" alt="dogo watching" width="300px" height="300px">
            </div>

            <a class="btn btn-lg btn-market-primary shadow-md w-50" href="/shop/selectagency" role="button">Families</a>

            <a class="btn btn-lg btn-market-secondary shadow-md w-50" href="/admin" role="button">Admin</a>
        </div>
    </div>
</section>
