@page "/birthdaymarket"

<PageTitle>Birthday Market</PageTitle>

<section>
    <div class="d-flex text-center" lc-helper="background">
        <div class="my-5 align-self-center w-100 py-5">
            <div editable="rich">
                <h2 class="display-4">This could be your</h2>
                <h2 class="display-4">call to action</h2>
                <p>Lorem int ipsum dolor sit amet when an<br>&nbsp;unknown printer took a galley of
                    type.</p>
                <p class="text-white">Vivamus id tempor.</p>
            </div>

            <!-- TODO: add proper link functionality to buttons -->
            <a class="btn btn-lg btn-light w-25 mx-3" href="shop/login" role="button">Families</a>
            <a class="btn btn-lg btn-light w-25 mx-3" href="admin/home" role="button">Admin</a>
        </div>
    </div>
</section>
