@page "/"

<PageTitle>Home</PageTitle>

<section class="hero">
    <h1>Welcome to <em>Birthday Connections!</em></h1>
    <p>@welcomeMessage</p>
</section>

@code {
    private string welcomeMessage = "Our mission is to ensure all children are celebrated on their birthdays! ";
}
