@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to <em>Birthday Connections!</em></h1>

<p>@welcomeMessage</p>

@code {
    private string welcomeMessage = "Our mission is to ensure all children are celebrated on their birthdays! ";
}
